# **Segundo Notebook "Creando Variables y Asignando Valores" üìã** #

> **Presentado por:**

*   Wendy Lorena Alvarado S√°nchez

> **Presentado a:** 

*   Profesor Aquiles Enrique Darghan Contreras
*   Monitor Carlos Armando Rivera Moreno
*   Monitor Jos√© Luis Castellanos Coronel

>  **Asignaci√≥n 2:**

*   Creaci√≥n de *Segundo Notebook "Creando Variables y Asignando Valores"*, a partir de la clase 3: 16 de marzo de 2022.

## Nombrar variables

Puedo crear una variable de nombre, segun eleccion, y asignarle un valor, por medio del signo "="

‚úÖ Ejemplo:

In [4]:
a = 5
a

5

## Observaciones

Al ser un programa en ingl√©s, al momento de nombrar la variable, se debe tener en cuenta:

*   No usar puntos
*   No iniciar por numeros
*   Evitar el uso de tildes y caracteres especiales como "√±"
*   El uso de letras MAYUSCULAS y minusculas es relevante

‚úÖ Ejemplo:

In [5]:
# rendimiento_variedad1
rto_var1 = 20.05
rto_var1

20.05

### Tipos de datos



---
**Asignacion a datos enteros**

Se emplea para n√∫meros enteros.

‚úÖ Ejemplo: numero de plantas.

In [6]:
v1 = 30
print(v1, 'es tipo:', type(v1))

30 es tipo: <class 'int'>



---
**Asignacion a datos flotante**

Se emplea para n√∫meros decimales.

‚úÖ Ejemplo: pH del suelo.

In [7]:
v2 = 15.23
print(v2, 'es tipo:', type(v2))

15.23 es tipo: <class 'float'>

---
**Asignacion "*String*"**

Se emplea para expresiones de tipo cualitativo, cadenas de caract√©res.

‚úÖ Ejemplo: fenotipo.

In [12]:
v3 = 'fuste alto'
print(v3, 'es tipo:', type(v3))

fuste alto es tipo: <class 'str'>

---
**Asignacion logica**

Se emplea para expresiones booleanas que permiten hacer comparaciones. En estas, la primera letra del valor asignado a la variable, se escribe en mayuscula. √önicamente "*False*" para rechazar la expresi√≥n o "*True*" para aprobarla.

‚úÖ Ejemplo: Apta o no apta para cosecha.

In [10]:
v4 = False
print(v4, 'es tipo:', type(v4))

False es tipo: <class 'bool'>

---
**Asignacion "*None*"**

Se emplea para variables que a√∫n no han sido inicializadas.

‚úÖ Ejemplo:

In [11]:
v5 = None
print(v5, 'es tipo:', type(v5))

None es tipo: <class 'NoneType'>

### Operadores

Asigno valor a las variables a operar y luego indico, la operaci√≥n a realizar.



---
**Aritmeticos**

‚úÖ Ejemplo: suma

In [18]:
a = 6
b = 5

res = a+b
print(res)

11

‚úÖ Ejemplo: diferencia.

In [17]:
a = 7
b = 2

res = a-b
print(res)

5

‚úÖ Ejemplo: producto.

In [13]:
a = 3
b = 6

res = a*b
print(res)

18

‚úÖ Ejemplo: cociente.

In [14]:
a = 1
b = 9

res = a/b
print(res)

0.1111111111111111

‚úÖ Ejemplo: potencia.

In [15]:
a = 8
b = 2

res = a**b
print(res)

64

In [ ]:
print('a:', a, ' - b:', b)
print('b/a', b/a)

# Divisi√≥n entera
print('b//a', b//a)

# Residuo
print('b%a', b%a)

a: 3  - b: 5
b/a 1.6666666666666667
b//a 1
b%a 2

In [ ]:
5 == 4 # Igualdad

False

In [ ]:
5 != 4 # Diferecia

True

In [ ]:
not (5==4) # Negacion

True

In [ ]:
(5>4) and (7<10) # Ambas condiciones se cumplen

True

In [ ]:
(5>4) and (7>10) # Solo se cumple la primera, por ende es falso que ambas sean ciertas

False

In [ ]:
(5>4) or (7>10) # Al menos una condicion de cumple

True

In [ ]:
print('Hola', 'Python')
print('Hola', 'Python', end='\n')
print('Hola', 'Python', end=', ')
print('Hola', 'Python', end=' ')

Hola Python
Hola Python
Hola Python, Hola Python

In [ ]:
# Ingresar un dato desde consola
numero = input('Ingrese el numero: ')
print(type(numero))
print('su numero es: ', numero)

Ingrese el numero: 100
<class 'str'>
su numero es:  100

In [ ]:
# Para ejecutar un chunk ctrl + enter o shift + enter

In [ ]:
nombre = input('Su nombre: ')
num1 = input('Primer numero: ')
num2 = input('Segundo numero: ')
suma = int(num1) + int(num2)
print(f'Hola {nombre}, la suma es: {suma}')

Su nombre: Pepe
Primer numero: 10
Segundo numero: 20
Hola Pepe, la suma es: 30

Calcular el papa

In [ ]:
nota1 = float(input('Nota Asignatura 1: '))
nota2 = float(input('Nota Asignatura 2: '))
nota3 = float(input('Nota Asignatura 3: '))
nota4 = float(input('Nota Asignatura 4: '))
nota5 = float(input('Nota Asignatura 5: '))

promedio = (3*nota1 + 3*nota2 + 3*nota3 + 4*nota4 + 4*nota5) / (3+3+3+4+4)
print(promedio)

if promedio >= 4:
  print('Felicitaciones, su promedio es {:.3f}'.format(promedio))
elif (promedio < 4) and (promedio >=3):
  print('Puedes Mejorar, su promedio es {:.3f}'.format(promedio))
else:
  print('Nos vemos el proximo semestre, su promedio es {:.3f}'.format(promedio))

Nota Asignatura 1: 4.3
Nota Asignatura 2: 4.2
Nota Asignatura 3: 3.8
Nota Asignatura 4: 3.2
Nota Asignatura 5: 4.4
3.9588235294117653
4.0
3.96
3.959
3.9588
Puedes Mejorar, su promedio es 3.959

In [ ]:
edad = int(input('Ingrese su edad: '))

if edad >= 18:
  print('Eres mayor de Edad')
else: 
  print('No eres mayor de edad')

Ingrese su edad: 23
Eres mayor de Edad

In [ ]:
a = float(input('Ingrese el primer numero: '))
b = float(input('Ingrese el segundo numero: '))
op = input('Ingrese el operaci√≥n: \n(1=suma, 2=resta, 3=producto, 4=cociente)\n')

if op == '1':
  print('Suma: ', a+b)
elif op == '2':
  print('Resta: ', a-b)
elif op == '3':
  print('Producto: ', a*b)
elif op == '4':
  print('Cociente: ', a/b)
else:
  print('Operaci√≥n desconocida')

print('Adios')

Ingrese el primer numero: 3
Ingrese el segundo numero: 5
Ingrese el operaci√≥n:
(1=suma, 2=resta, 3=producto, 4=cociente)
3
Producto:  15.0
Adios

In [ ]:
a = float(input('Ingrese el primer lado: '))
b = float(input('Ingrese el segundo lado: '))
c = float(input('Ingrese el tercer lado: '))

if (a == b) and (b == c):
  print('Triangulo Equilatero')

# Con solo if se ejecuta a√∫n cuando el anterior if es True
# if (a == b) or (b==c) or (a==c):
# Con elif se ejecuta solo si el anterior if es False
elif (a == b) or (b==c) or (a==c):
  print('Triangulo isosceles')
else:
  print('Escaleno')

Ingrese el primer lado: 13
Ingrese el segundo lado: 13
Ingrese el tercer lado: 10
Triangulo isosceles

### Calculando la ecuaci√≥n de segundo grado

$$x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}$$

In [ ]:
a = float(input('Ingrese a: '))
b = float(input('Ingrese b: '))
c = float(input('Ingrese c: '))

if a != 0:
  if ((b**2)-(4*a*c))>=0:
    print('Tiene soluci√≥n real')
  else:
    print('Tiene soluci√≥n compleja')
else:
  print('No es cuadratica')

Ingrese a: 2
Ingrese b: 3
Ingrese c: 10
Tiene soluci√≥n compleja

$$z = \frac{\log{x}\sqrt[3]{x-1}}{x+1}$$

Condiciones

1. $x>0$
2. $x \neq -1$

In [ ]:
from math import log

x = float(input('Ingrese X: '))
if x<0:
  print('Fuera del dominio de Z')
else:
  z = log(x) * (x-1)**(1/3) / (x+1)
  print(f'Z es: {z}')

Ingrese X: -2
Fuera del dominio de x

$$z = \frac{\log{x}\sqrt[3]{x-1}}{x-1}$$

Condiciones

1. $x>0$
2. $x\neq1$

In [ ]:
from math import pow

x = float(input('Ingrese X: '))
if (x<=0) or (x==1):
  print('Fuera del dominio de Z')
else:
  if (x-1) < 0:
    z = log(x) * -pow(abs(x-1), 1/3) / (x-1)
  else:
    z = log(x) * pow(x-1, 1/3) / (x-1)

  print('Z es: {:.3f}'.format(z))

Ingrese X: 2
Z es: 0.693

Colocando una imagen `![]()`

![Nombre Imagen]()